.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 25px;
    padding: 100px;
  }
  
  .card {
    max-width: 800px; /* Adjust as needed */
  }
  
  .cardMedia {
    height: auto; /* Adjust based on your aspect ratio */
  }
  
  .cardContent {
    padding: 16px;
  }
  
  .cardActions {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 16px;
  }
  
  .buyButton {
    background-color: #007bff; /* Example color */
    color: white;
  }
  
  /* Add media queries for responsiveness */
  @media (max-width: 800px) {
    .cardContainer {
      grid-template-columns: 2fr;
    }
  }

  .productFilter{
    display: column
  }
  
  .filterBar{
    display: flex;
    margin-top: 20px;
    padding:20px;
    width:100;
    margin-left: 300px;
  }

  .productItem{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap:12px
}

.body{
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
}

.bodyItems{
  display: flex;
  flex-wrap: wrap;
}
